$color-primary: hsl(132, 100%, 82%);
$color-secondary: hsla(204, 44%, 54%, 0.462);
$color-tertiary: hsl(167, 100%, 72%);
$color-table: #67ffc7;
$background-color: #f3f6f9;
$font-family: 'Roboto', sans-serif;
$font-size: 14px;
$font-color: hsl(210, 29%, 22%);
$font-color-light: #fff;
$outline-border: #abcea1;
$header-height: 88px;
$color-warning:rgb(255, 94, 0);
$workarea-background-color: #ffffff96;
$workarea-min-height: calc(100vh - 136px);
