@import './variables';


// .filter-section {
//   background-color: white;
//   padding: 1.5rem;
//   border: none;
//   border: 1px solid darken($background-color, 10%);
//   display: flex;
//   flex-wrap: wrap;
//   gap: 1rem;
//   align-items: center;
//   border-radius: 3px;
// }


// .form-section {
//   display: flex;
//   flex-direction: column;
//   width: 50vw;
//   background-color: white;
//   padding: 1rem;
//   flex-wrap: wrap;
//   gap: 1rem;
// }


// .form-field {
//   display: flex;
//   flex-direction: column;
// }

input[type="radio"] {
  
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

input,
textarea,
select {
  &:focus, &:hover, &:active {
    border: 1px solid $outline-border;
  }
}



button {
  border: none;
  border-radius: px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0.5rem 1rem;

  &.button-add {
    background-color: $background-color;
    color: $font-color;
    
    border: 2px solid #7fb6776f;
    
  }

  &.button-add:hover {
    background-color: rgba(127, 182, 119, 0.437);

  }

  &.btn {
    background-color: $background-color;
    color: $font-color;
  }

  &.btn:hover {
    background-color: darken($workarea-background-color,15%);
  }

  &.btn-action {
    background-color: #f3f6f9;
    width:min-content;
    text-align: center;
    align-items: center;
    margin: auto;
    color: $font-color;
    
    border: 2px solid #7fb6776f;
    border-radius: 20%;
    
  }

  &.btn-action:hover {
    background-color: #7fb6776f;
  }

  // &.btn-submit {
  //   background-color: $color-secondary;
  //   color: $font-color-light;
  // }

  // &.btn-submit:hover {
  //   background-color: darken($color-secondary, 10%);
  // }
}
.btn-delete {
  background-color: $background-color;
  border: 2px solid red;
  color: $color-warning;

}

.btn-delete:hover {
  background-color: lighten($color-warning, 37%);
}
.btn-edit {
  background-color: $background-color;
  border: 2px solid $color-secondary;
  color: $color-secondary;
}

.btn-edit:hover {
  background-color: $color-secondary;
}

