.tasks{
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;

}
.taskslist {
  border: 3px solid #abcea1;
  background-color: $background-task;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 3px;
  margin-bottom: 10px;
  padding-right: 0.5rem;
  overflow-wrap: anywhere;
  
}

.options {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.options i {
  cursor: pointer;
}

#msg {
  color: red;
}
.headertasklist{
  display: flex;
  justify-content: space-between;
}
.priority{
  color: #ff02026d;
  
}
.taskdate{
  color:($font-color,30%) ;
}