input[type="radio"] {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

input:focus, input:hover, input:active,
textarea:focus,
textarea:hover,
textarea:active,
select:focus,
select:hover,
select:active {
  border: 1px solid #abcea1;
}

button {
  border: none;
  border-radius: px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0.5rem 1rem;
}

button.button-add {
  background-color: #f3f6f9;
  color: #283848;
  border: 2px solid #7fb6776f;
}

button.button-add:hover {
  background-color: rgba(127, 182, 119, 0.437);
}

button.btn {
  background-color: #f3f6f9;
  color: #283848;
}

button.btn:hover {
  background-color: rgba(217, 217, 217, 0.588235);
}

button.btn-action {
  background-color: #f3f6f9;
  width: min-content;
  text-align: center;
  align-items: center;
  margin: auto;
  color: #283848;
  border: 2px solid #7fb6776f;
  border-radius: 20%;
}

button.btn-action:hover {
  background-color: #7fb6776f;
}

.btn-delete {
  background-color: #f3f6f9;
  border: 2px solid red;
  color: #ff5e00;
}

.btn-delete:hover {
  background-color: #ffd5bd;
}

.btn-edit {
  background-color: #f3f6f9;
  border: 2px solid rgba(86, 148, 189, 0.462);
  color: rgba(86, 148, 189, 0.462);
}

.btn-edit:hover {
  background-color: rgba(86, 148, 189, 0.462);
}

.modal-background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  position: fixed;
  background: transparent;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 1rem;
  border: none;
  border: 1px solid #d1dde8;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
}

.mdl-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  /* border-bottom: 1px solid #dee2e6; */
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

body {
  font-family: sans-serif;
  margin: 0 50px;
  background-color: #e5e5e5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: #fff;
  width: 400px;
  height: 600px;
  border: 3px solid #abcea1;
  border-radius: 8px;
  padding: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.app::-webkit-scrollbar {
  width: 12px;
}

.app::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px #abcea1;
}

.app::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cdd6ca53;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

.taskslist {
  border: 3px solid #abcea1;
  background-color: #cdd6ca53;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 3px;
  margin-bottom: 10px;
  padding-right: 0.5rem;
  overflow-wrap: anywhere;
}

.options {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.options i {
  cursor: pointer;
}

#msg {
  color: red;
}

.headertasklist {
  display: flex;
  justify-content: space-between;
}

.priority {
  color: #ff02026d;
}

.taskdate {
  color: #283848, 30%;
}
